*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body {
    width: 100%;
    min-height: 100vh;
    background-color: #c78aff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Metamorphous;

}
.profile-card {
    width: 400px;
    min-height: 400px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    border-radius: 20px;
    box-shadow: 9px 7px 20px 3px black;
}
.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    overflow: hidden;
    object-fit: cover;

}
.profile-name {
    margin-top: 10px;
    margin-bottom: 10px;
}
.profile-bio {
    text-align: center;
    color:rgb(78, 78, 151);
}
.profile-subheading {
    font-size: 20px;
    color: grey;
}
.hobbies-wrap {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    gap:30px;
}
.social-wrap {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.social-wrap i {
    color: black;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.4s ease;
}
.social-wrap i:hover {
    transform:scale(1.2);
    color: palevioletred;
}